---
// src/pages/404.astro
import Layout from "../layouts/Layout.astro";
import ElsewhereComponent from "../components/Elsewhere";
---

<Layout
  title="Elsewhere, Briefly - Juno Threadborne"
  image="/elsewhere-cover.webp"
>
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <ElsewhereComponent client:load />
  </main>
</Layout>
