---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import WorksSection from "@/components/WorksSection";
import MediumSection from "@/components/MediumSection";
import ProjectsSection from "@/components/ProjectsSection";
import Footer from "@/components/Footer";
---

<Layout>
  <GlassHeader client:only="react" />
  <main class="min-h-screen">
    <HeroSection client:only="react" />
    <WorksSection client:only="react" />
    <ProjectsSection client:only="react" />
    <MediumSection client:only="react" />
  </main>
  <Footer client:only="react" />
</Layout>
