---
// src/pages/404.astro
import Layout from "../layouts/Layout.astro";
import BookComponent from "../components/Mountain";
---

<Layout
  title="The Mountain of Mastery - Juno Threadborne"
  image="/mountain-cover.webp"
>
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <BookComponent client:load />
  </main>
</Layout>
