---
import Layout from "../layouts/Layout.astro";
import NowPage from "@/components/NowUpdate";
---

<Layout title="What I've been up to - Juno Threadborne">
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <NowPage client:load />
  </main>
</Layout>
