---
import Layout from "../layouts/Layout.astro";
import ReframedPitch from "@/components/ReframedPitch";
---

<Layout title="Reframed">
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <ReframedPitch client:load />
  </main>
</Layout>
