---
// src/pages/404.astro
import Layout from "../../layouts/StoryLayout.astro";
import ArchiveComponent from "../../components/Archive";
---

<Layout
  title="The Archive of Unsaid Things - Juno Threadborne"
  image="/archive-cover.webp"
>
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <ArchiveComponent client:load />
  </main>
</Layout>
