---
// src/pages/404.astro
import Layout from "../../layouts/StoryLayout.astro";
import StoryComponent from "../../components/Brynn";
---

<Layout title="The Loaf The Wouldn't Listen" image="/brynn-cover.webp">
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <StoryComponent client:load />
  </main>
</Layout>
