---
// src/pages/404.astro
import Layout from "../../layouts/StoryLayout.astro";
import BookComponent from "../../components/Island.tsx";
---

<Layout
  title="The Island of Almosts - Juno Threadborne"
  image="/island-cover.webp"
>
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <BookComponent client:load />
  </main>
</Layout>
