---
// src/pages/404.astro
import Layout from "../../layouts/StoryLayout.astro";
import VillageComponent from "../../components/Village.tsx";
---

<Layout title="The Village of Voicekeepers" image="/vov-cover.webp">
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <VillageComponent client:load />
  </main>
</Layout>
